#one {
    width: 200px;
    height: 200px;
}
#two {
    width: 200px;
    height: 200px;
}
#three {
    width: 200px;
    height: 200px;
}
#four {
    width: 200px;
    height: 200px;
}
#five {
    width: 200px;
    height: 200px;
}
#six {
    width: 200px;
    height: 200px;
}
#seven {
    width: 200px;
    height: 200px;
}
#eight {
    width: 200px;
    height: 200px;
}
#nine {
    width: 200px;
    height: 200px;
}
#ten {
    width: 200px;
    height: 200px;
}
#eleven {
    width: 200px;
    height: 200px;
}
#twelve {
    width: 200px;
    height: 200px;
}
#thirteen {
    width: 200px;
    height: 200px;
}
#forteen {
    width: 200px;
    height: 200px;
}
#myCarousel{
    background-color: red;
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
}
.carousel-inner p{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}